@media only screen and (max-width: 768px) {
    .skip {
      display: none; 
    }
}

h1{
    font-size: 36px;
    transition: font-size 0.5s ease, color 0.5s ease;
    text-align: center;
}
h1, h2, h3{
    text-align: center;
}
.skip {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    transition: top 1s ease, color 1s ease, background 1s ease;
}

.skip:focus {
    top: 0;
}
.toobig {
    transform: scale(0.7);
}

body{
    background-color: #94618E;
    font-family: 'Titillium Web', sans-serif;
}

* {
    color: white
}
.petsTitle, .recipesTitle, .travelTitle {
    font-weight: bold;
    text-decoration: underline;
}

.spacing li{
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid white;
   background-image: url('../images/purplebg.jpg');
}

.gridContain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    
}

div{
    border: 1px solid white;

}

img, video {
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
    margin-bottom: 5px;
    margin-top: 2px;
    filter: grayscale(50%);
    border: 3px solid #49274A;

}
img:hover {
    transform: scale(1.2);
}
video:hover {
    transform: scale(1.2);
}

.animated-title {
    transform: translateX(-100%); 
    animation: slideIn 2s forwards; 


}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0); 
    }


}
@media (prefers-reduced-motion: reduce) {

    .animated-title {
        animation: none;
    }
}
@media (prefers-reduced-motion: reduce) {
    img[src$=".gif"] {
        display: none;
    }
}


p {
    border: 1px solid white;
    margin-bottom: 3px;
    line-height: 1.5;
}
h2, h3 {
    background-color: #49274A;
    margin-bottom: 3px;
}
h2 {
    font-size: 30px;
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 48px; 
    }
    h2 {
        font-size: 40px;
    }
    h3{
        font-size: 32px;
    }

    .gridContain {
        grid-template-columns: 1fr 1fr; 
    }

    img, video {
        max-width: 100%; 
    }
    .spacing{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 48px; 
    }
    h2 {
        font-size: 40px;
    }
    h3{
        font-size: 32px;
    }

    .gridContain {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    img, video {
        max-width: 100%; 
    }
    .spacing{
        font-size: 20px;
    }
}

body.light-mode {
    background-color: #ffffff;
    color: #333333;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.gifclass {
    background-image: url('images/yellowstone_cauldron.gif');
}

@media (prefers-reduced-motion: reduce) {
    .gifclass {
        background-image: url('images/yellowstone_cauldron.jpg');
    }
}
