@media only screen and (max-width: 768px) {
    .skip {
      display: none; 
    }
}

h1{
    font-size: 36px;
    transition: font-size 0.5s ease, color 0.5s ease;
    text-align: center;
}
h1, h2, h3{
    text-align: center;
}


body{
    background-color: #94618E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}
* {
    color: white
}
.petsTitle, .recipesTitle, .travelTitle {
    font-weight: bold;
    text-decoration: underline;
}

.spacing li{
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid white;
    background-color: #49274A;
}

.gridContain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

div{
    border: 1px solid white;

}

img, video {
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
    margin-bottom: 5px;
    margin-top: 2px;
    filter: grayscale(50%);
    border: 3px solid #49274A;


}

.animated-title {
    transform: translateX(-100%); 
    animation: slideIn 2s forwards; 


}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0); 
    }


}
@media (prefers-reduced-motion: reduce) {

    .animated-title {
        animation: none;
    }
}
@media (prefers-reduced-motion: reduce) {
    img[src$=".gif"] {
        display: none;
    }
}


p {
    border: 1px solid white;
    margin-bottom: 3px;
    line-height: 1.5;
}
h2, h3 {
    background-color: #49274A;
    margin-bottom: 3px;
}
h2 {
    font-size: 30px;
}
